{% extends "/admin/layout/index.html" %}


{% block content %}

<div class="overview">
    <div class="title">
        <i class="uil uil-files-landscapes"></i>
        <span class="text">Data Balai Konservasi</span>
    </div>

    <div class="boxes">
        <div class="box box1">
            <i class="uil uil-share"></i>
            <span class="text">Total Balai Konservasi</span>
            <span class="number">50,120</span>
        </div>
    </div>
</div>

<div class="activity">
    <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Aktivitas</span>
    </div>
    <div class="button-container">
        <a href="{{url_for('tambahDatabalais')}}">
            <button class="add-data-btn"> Tambah Data</button>
        </a>
    </div>

    <div class="activity-data">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Gambar</th>
                    <th>Nama Balai</th>
                    <th>Deskripsi</th>
                    <th>Provinsi</th>
                    <th>Alamat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for b in balai%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{b.gambarbalai}}</td>
                    <td>{{b.nama_balai}}</td>
                    <td>{{b.deskripsi[:10]}}...</td>
                    <td>{{b.provinsi}}</td>
                    <td>{{b.alamat}}</td>

                    <td>
                        <a href="{{ url_for('editbalai', id_balaikonservasi=b.id_balaikonservasi) }}"
                            class="action-btn edit-btn">Edit</a>
                        <form action="{{ url_for('deletebalai', id_balaikonservasi=b.id_balaikonservasi) }}"
                            method="POST" style="display:inline;">
                            <button type="submit" class="action-btn delete-btn"
                                onclick="return confirm('Apakah Anda yakin ingin menghapus data ini?')">
                                <i class="fa fa-trash"></i> Hapus
                            </button>
                        </form>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}